@import 'variables';
@import '~bootstrap/scss/bootstrap';

html, body, #root {
  width: 100%;
  height: 100%;
}

.first-screen {
  background: url('../images/bg.png') no-repeat center center;
  background-size: cover;
  height: 100%;

  display: flex;
  align-items: center;

  position: relative;

  > .timer {
    position: absolute;
    padding: 30px;
    color: $light;

    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    margin-bottom: -120px;

    width: 700px;
    height: 240px;
    background-color: $primary;
    border-radius: 50px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > .title {
      font-size: 24px;
    }

    > .cells {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: auto;

      //display: flex;
      //justify-content: space-between;
      margin-left: 80px;
      margin-right: 80px;

      > div {
        display: flex;
        justify-content: center;
        flex-direction: column;

        > .number {
          font-size: 64px;
          font-weight: 700;
          line-height: 64px;
          margin-bottom: 18px;
        }

        > .title {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }
  }
}

.first-screen_title {
  padding-left: 200px;

  > span {
    display: block;
    font-size: 65px;
    font-weight: 700;
    line-height: 80px;
    //text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  :nth-child(1) {
    color: $dark;
  }

  :nth-child(2) {
    color: $primary;
  }

  :nth-child(3) {
    color: $dark;
  }
}

.voting {
  background-color: #EDEAEE;
  padding: 50px;
  border-radius: 50px;

  > h1 {
    margin-bottom: 50px;
  }

  .gender {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding: 30px;
    border-radius: $border-radius;
    margin-bottom: 50px;

    > .title {
      margin-left: 30px;
    }
  }

  .male {
    color: $secondary;
  }

  .female {
    color: $primary;
  }

  hr {
    margin-top: 0;
    margin-bottom: 50px;
  }

  > .chart {

  }
}
